#
# IntelliJ
#
*.iml
.idea/*
!.idea/runConfigurations/

#
# Visual Studio Code
#
.settings/
.classpath
.project
.vscode/

# Ignore Gradle project-specific cache directory
.gradle
bin

# Ignore Gradle build output directory
build

# Ignore Gradle properties
gradle.properties
